{% extends 'master-installer.html' %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Inventory List</h3>
            <div class="float-right">
              <a href="{% url 'installer:inventories:add' %}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Inventory</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th>Name</th>
                  <th style="width:20%;">IP Address</th>
                  <th style="width:20%;">Group</th>
                  <th style="width:15%;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for inventory in inventories %}
                  <tr>
                    <td>{{ inventory.server.name }}</td>
                    <td>{{ inventory.server.ip_address }}</td>
                    <td>{{ inventory.get_group_display }}</td>
                    <td>
                      <a href="{% url 'installer:inventories:edit' inventory.id %}" class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Edit</a>
                      <button class="btn btn-sm btn-danger delete-swal" data-url="{% url 'installer:inventories:delete' inventory.id %}" data-name="{{ inventory }}"><i class="fas fa-trash-alt"></i> Delete</button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
              
          </div>
          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'installer:servers:index' %}" class="btn bg-navy"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back</a>
              <a href="{% url 'installer:configurations:global_config' %}" class="btn bg-navy">Next&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}

{% block extra_js %}
{% endblock %}