{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="{% url 'website:dashboard' %}" class="brand-link">
        <span class="brand-text font-weight-light">
        <img src="{% static 'images/logo.svg' %}" width="150px;">
        </span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% static 'images/avatar_placeholder.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ user.username }}</a>
        </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                    <!-- The time line -->
                    <div class="timeline" style="margin-left:-12px; white-space:''">
                        <!-- timeline item -->
                        <div>
                            <i class="fas fa-angle-down bg-olive"></i>
                            <div class="timeline-item">
                                <a href="{% url 'installer:servers:index' %}" class="bg-olive nav-link">
                                    <p>Add Server</p>
                                </a>
                            </div>
                        </div>
                        <div>
                            <i class="far fa-circle bg-info"></i>
                            <div class="timeline-item">
                                <a href="#" class="bg-info nav-link">
                                    <p>Inventory</p>
                                </a>
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-angle-down bg-default"></i>
                            <div class="timeline-item">
                                <button class="btn nav-link" disabled>
                                    <p>Global Configuration</p>
                                </button>
                            </div>
                        </div>

                        <div>
                            <i class="fas fa-angle-down bg-default"></i>
                            <div class="timeline-item">
                                <button class="btn nav-link" disabled>
                                    <p>Advanced Config</p>
                                </button>
                            </div>
                        </div>

                        <div>
                            <i class="fas fa-angle-down bg-default"></i>
                            <div class="timeline-item">
                                <button class="btn nav-link" disabled>
                                    <p>Deploy</p>
                                </button>
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-check bg-default"></i>
                        </div>
                        <!-- END timeline item -->
                    </div>
                    </div>
                    <!-- /.col -->
                </div>
                </div>
                <!-- /.timeline -->

            </section>
      <!-- /.content -->
        </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
