{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-info">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">
        <img src="{% static 'images/logo.svg' %}" width="150px;">
        </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'images/avatar_placeholder.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="{% url 'website:dashboard' %}" class="nav-link {% if menu_active == 'dashboard' %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'installer:servers:index' %}" class="nav-link">
                    <i class="nav-icon fas fa-window-maximize"></i>
                    <p>Installer</p>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="#" class="nav-link {% if menu_active == 'machines' %}active{% endif %}">
                    <i class="nav-icon fas fa-microchip"></i>
                    <p>Machines<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'maas:machines:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Data Machines</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'maas:machines:add' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Machine</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link {% if menu_active == 'lain' %}active{% endif %}">
                    <i class="nav-icon fas fa-network-wired"></i>
                    <p>Subnet<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Fabric</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add VLAN</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Space</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Subnet</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link {% if menu_active == 'images' %}active{% endif %}">
                    <i class="nav-icon fas fa-compact-disc"></i>
                    <p>Images</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link {% if menu_active == 'lain' %}active{% endif %}">
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>Controller<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Data Controllers</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Rack Controller</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{% url 'maas:dns:index' %}" class="nav-link {% if menu_active == 'domains' %}active{% endif %}">
                    <i class="nav-icon fas fa-globe-asia"></i>
                    <p>DNS</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link {% if menu_active == 'lain' %}active{% endif %}">
                    <i class="nav-icon fas fa-wrench"></i>
                    <p>Settings<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>User</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>General</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
