{% extends 'master.html' %}
{% load utils %}
{% block content %}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-transparent">
                <form class="form-inline float-left">
                    <input type="text" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Search machines">
                </form>
                <a href="{% url 'maas:machines:add' %}" class="btn btn-sm btn-info float-right">Add Machine</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>FQDN | MAC</th>
                      <th>Power</th>
                      <th>Status</th>
                      <th>Owner</th>
                      <th>Cores</th>
                      <th>RAM (GiB)</th>
                      <th>Storage (GB)</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for machine in machines %}
                        <tr>
                          <td><a href="{% url 'maas:machines:details' machine.system_id %}"> {{ machine.fqdn }} </a></td>
                          <td>
                            {% if machine.power_state.lower == "on" %}
                              <i class='text-success fas fa-power-off'></i> <small>ON</small>
                            {% elif machine.power_state.lower == "off" %}
                              <i class='text-secondary fas fa-power-off'></i> <small>OFF</small>
                            {% else %}
                              <i class='text-warning fas fa-question-circle' title='Unknown'></i>
                            {% endif %}
                          </td>
                          <td>{{ machine.status_name }}</td>
                          <td>{{ machine.owner|default_if_none:"-" }}</td>
                          <td>{{ machine.cpu_count }}</td>
                          <td>{{ machine.memory|sizify }}</td>
                          <td>{{ machine.storage|sizify }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">


              </div>
            </div>

        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}