{% load static sweetify%}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>hujan.io | {{ title }} </title>

    {% include 'partials/css.html' %}
    {% block extra_css %}{% endblock  %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    {% include 'partials/header-navbar.html' %}
    {% include 'partials/side-navbar-installer.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{ title }}</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                {% comment %} <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active"></li>
                </ol> {% endcomment %}
              </div><!-- /.col -->
          </div><!-- /.row -->
          </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
        {% block content %}
        {% endblock  %}
    </div>
    <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>User</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  {% include 'partials/footer.html' %}
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

{% include 'partials/js.html' %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% sweetify %}
{% block extra_js %}{% endblock  %}


</body>
</html>
